body#about {
  background-color: black;
  >div {
    display: flex;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
    &:nth-child(even) {
      background-color: black;
    } &:nth-child(odd) {
      background-color: $k_gold;
    }
    padding: 50px 0;
    >div {
      width: 50%;
      height: 500px;
      padding: 10px 0;
      @media screen and (max-width: 900px) {
        width: 100%;
        height: auto;
      }
    }
    div.media {
      >img {
        display: block;
        width: auto;
        height: 500px;
        margin: 0 auto;
        @media  screen and (max-width: 900px) {
          height: 500px;
        }
      }
    }
    div.text {
      display: flex;
      flex-direction: column;
      justify-content: center; // OR space-evenly
      align-items: center;
      > * {
        width: 75%;
        padding: 10px;
      }
      h2 {
        color: white;
        font-size: 1.5rem;
        font-family: josefin-b;
      }
      p {
        color: white;
        font-size: 1.2rem;
        line-height: 1.4rem;
        @media screen and (max-width: 900px) {
           font-size: 1.3rem;
           line-height: 1.6rem;
        }
      }
      .links {
        svg {
          margin-right: 5px;
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
