#contact
{
  color: white;
  background: linear-gradient(black, $k_gold 110%);
}
#contact h1:first-child
{
  font-size: 2.5rem;
  margin-top: 3rem;
  &.beg-pad {margin-top: 80px;}
}
#contact .container
{
  text-align: center;
  @media screen and (max-width: 500px) {width: 95%;}
}

#contact .phone-number
{
  margin-bottom: 0;
  p
  {
    margin-top: -2rem;
    padding-bottom: 0;
    font-family: hind-sb;
    font-size: 2rem;
  }
}

#contact .contact-form
{
  form
  {
    position: relative;
    margin: 3rem auto 0 auto;
    width: 55%;
    @media screen and (max-width: 1200-1px) {
      width: 70%;
    }
    @media screen and (max-width: 800-1px) {
      width: 80%;
    }
    @media screen and (max-width: 675-1px) {
      width: 85%;
    }
    div
    {
      margin: 1rem 0;
      >div
      {
        display: inline;
        position: relative;
        margin:0;
        width: 40%;
        @media screen and (max-width: 500px) {width: 42%}
        input
        {
          height: 2.6rem;
          width: 100%;
          padding-left: 3%;
          padding-top: 1%;
        }
      }
    }
    .full-text {
      margin-top: 2rem;
      input {
        width: 100%;
        height: 2.6rem;
        padding-left: 10px;

      }
    }
    div.message
    {
      display: block;
      position: relative;
      width: 100%;
      top: 1.0rem;
      textarea
      {
        width: 100%;
      //  margin: 3rem -1px;
        height: 10rem;
        padding: 0;
        padding-left: 10px;
        padding-top: 1%;
        resize: none;
        color: white;
      }

    }
    .button
    {
      width: 40%;
      margin: auto;
    }

    .inputStyle
    {
      background-color: rgba(0,0,0,0.4);
      border: none;
      color: white;
      font-family: hind-r;
      font-size: 1.2rem;
      padding-left: 10px;
    }
  }
  label
  {
    font-family: hind-b;
    float: left;
    font-size: 1.3rem;
    position:relative;
    top: -0.6rem;
  }
}
