@font-face {
    font-family: josefin-l;
    src: url(/assets/fonts/Josefin_Sans/JosefinSans-Light.tff);
}

@font-face {
    font-family: josefin-l-i;
    src: url(/assets/fonts/Josefin_Sans/JosefinSans-LightItalic.tff);
}

@font-face {
    font-family: josefin-r;
    src: url(/assets/fonts/Josefin_Sans/JosefinSans-Regular.tff);
}

@font-face {
    font-family: josefin-sb;
    src: url(/assets/fonts/Josefin_Sans/JosefinSans-SemiBold.tff);
}

@font-face {
    font-family: josefin-b;
    src: url(/assets/fonts/Josefin_Sans/JosefinSans-Bold.tff);
}

@font-face {
    font-family: hind-r;
    src: url(/assets/fonts/Josefin_Sans/Hind-Regular.tff);
}

@font-face {
    font-family: hind-l;
    src: url(/assets/fonts/Josefin_Sans/Hind-Light.tff);
}

@font-face {
    font-family: hind-b;
    src: url(/assets/fonts/Josefin_Sans/Hind-bold.tff);
}
