footer {
  height: auto;
  background-color: black;
  font-family: hind-sb;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  padding: 20px 0;
  border: 1px solid;
  border-color: rgba(217, 217, 217, 1);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  h2 {
    font-size: .8rem;
    color: rgba(194, 194, 194, 1);
    margin-top: 20px;
  }
  >h1 {
    font-size: 1rem;
    margin-top: 0;
    color: rgba(214, 214, 214, 1);
    margin-top: 10px;
  }
}
