#index{
  color: white;
}
#index .intro {
  // background:
  // linear-gradient(
  //     rgba(0, 0, 0, 0.5),
  //     rgba(0, 0, 0, 0.5)s
  //   ),
  //   /* bottom, image */
  //   url(/assets/images/background.jpg);
  background-color: black;
  background-size: cover, cover;
  background-blend-mode: hard-light;
  background-attachment: fixed;
}

#index .intro h1 {
  padding: 0 5px;
  font-size: 4.5rem;
  -webkit-text-stroke: 1px black;
  color: $k_gold;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}
#index .intro h2 {
  font-family: josefin-l;
  color: $k_gold;
  font-size: 2rem;
  margin-top: .8rem;
}

section.about-us {
  background: linear-gradient(rgb(166, 96, 198), rgb(131, 149, 219));
}

section.packages {
  color: white;
  background-color: black;
  padding: 6rem 0 10rem 0;
  .container {
    position: relative;
    h1 {
      font-family: "josefin-sb";
<<<<<<< HEAD
      font-size: 3rem;
=======
      font-size: 6rem;
>>>>>>> c59377b0e8304fcc2dbaf286c8f07652dab13441
      letter-spacing:.6rem;
      background: linear-gradient(#D3D5DB, $k_gold, #FFFFFF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding: 2rem 0;
    }
    div {
      padding: 3rem 0;
      position:relative;
      p {
        line-height: 2.2rem;
        font-family: hind-l;
        font-size: 1.3rem;
        position: absolute;
        width: 60%;
      }
      .parallax-img {
        margin-top: -150px;
        z-index: 1;
      }
      .parallax-p {
        margin-top: -20px;
      }
      .parallax-h1 {
        z-index: 10;
      }
      &.weddings {
        p {

        }
        img {
          float:right;
        //  margin-top: -200px;
        }
      }
      &.events {
        h1 {
          text-align: right;
        }
        p {
          right: 0;
        }
        img {
          float: left;
        }
      }
      &.rentals {
        h1 {

        }
        p {
          float: left;
        }
        img {
          float:right;
        }
      }
    }
  }
  .button {
    position: relative;
    top: 6rem;
  }
}
section.youtube-banner {
  height: 6rem;
  position: relative;
  top: 8rem;
  background: url('/assets/images/youtube_banner.png'), linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  background-position: left, center;
  background-size: contain, cover;
  background-repeat: no-repeat;

}
section.experiences {
  background: $k_gold;
  padding-top: 5rem;
  .container {
    width: 100%;
    h1 {
      text-align: right;
    }
    .slider {
      padding: 3rem 0;
      div {
        position: relative;
        div {
          img {
            width: 100%;
            margin: auto;
            height: auto;
            border-radius: 1%;
          }
        }
      }
    }
  }
  .button {
    margin-top: 3rem;
  }
}

section.contact-us {
  background: linear-gradient(rgba(153,0,22,0.7), rgba(153,0,22,0.7)), url(/assets/images/eventImg.jpg);
  background-size: cover, cover;
  background-blend-mode: hard-light;
  height: 20rem;
  h1 {
    text-align: center;
  }
  .button {
    margin-top: 12%;
  }
}
