#index{
  color: white;
}
#index .site-intro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}

#index .site-intro h1 {
  letter-spacing: normal;
  padding: 0 5px;
  font-size: 4.5rem;
  background: linear-gradient(to right, $k_gold 30%, white 120%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
#index .site-intro h2 {
  font-family: josefin-l;
  font-size: 2rem;
  margin-top: .8rem;
  background: linear-gradient(to right, $k_gold 30%, white 120%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.about-us {
  // background: linear-gradient(black, $k_gold);
  background-color: $k_gold;
}


section.info {
  color: white;
  background-color: black;
  >.container {
    text-align: center;
    >section {
      padding: 1rem;
      div.header {
        padding: 2rem 0;
        h1 {
          font-family: "josefin-sb";
          font-size: 3rem;
          letter-spacing:.6rem;
          background: linear-gradient(#D3D5DB, $k_gold, #FFFFFF);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: left;
          width: 60%;
          &.text-right {
            text-align: right;
          }
          @media screen and (max-width: 1024px) {
            width: 90%;
          }
        }
      }
      div.info {
        display: flex;
        justify-content: space-between;
        p {
          display: block;
          line-height: 2.2rem;
          font-family: hind-l;
          font-size: 1.3rem;
          text-align: left;
          width: 60%;
          position: relative;
          top: -4rem;
          @media screen and (max-width: 1024px) {
            width: 90%;
            top: 0rem;
          }
        }
        img {
          display: block;
          height: auto;
          width: 35%;
          align-self: center;
          position: relative;
          top: -8rem;
          @media screen and (max-width: 1024px) {
            display: none;
          }
        }
      }
    }
    .button {
      margin-top: 100px;
      text-align: center;
    }
  }
}
section.experiences {
  background: $k_gold;
  .container {
    width: 85%;
    h1 {
      text-align: right;
    }
  .button {
    margin-top: 3rem;
    }
  }
}

section.contact-us {
  background: linear-gradient(rgba(62, 52, 52, 0.9), rgba(62, 52, 52, 0.9)), url(/assets/images/eventImg.jpg);
  background-size: cover, cover;
  background-blend-mode: hard-light;
  height: 20rem;
  h1 {
    text-align: center;
  }
  .button {
    margin-top: 12%;
  }
}
