html {
  font-size: 20px;
}

@media (max-width: 1600px) {
  html { font-size: 18px; }
}
@media (max-width: 1300px) {
  html { font-size: 16px; }
}
@media (max-width: 1000px) {
  html { font-size: 14px; }
}
@media (max-width: 700px) {
  html { font-size: 12px; }
}
@media (max-width: 500px) {
  html { font-size: 10px; }
}
@media (max-width: 400px) {
  html { font-size: 8px; }
}
@media (max-width: 360px) {
  html { font-size: 7px; }
}

body {
  font-family: josefin-r, sans-serif;
}
p {
  font-family: hind-r;
}
.intro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section {
  padding: 6rem 0;
  text-align: center;

  >.container {
    width: 80%;
    margin: auto;
    text-align: left;

    >h1{
      font-family: josefin-l;
      font-size: 3rem;
    }

    >p{
      font-size: 1.2rem;
      line-height: 1.8;
      display: block;
      padding: 5rem 0;
    }
  }

  >.iframe {
    width: 100%;
  }
}

a.button
{
  display: inline-block;
  width: auto;
  padding: 1.5rem 3rem;
  border: white 2px solid;
  border-radius: 60px;
  text-align: center 30px;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  transition: .6s background-color, .6s color;
}

a.button:hover {
  background-color: white;
  color: rgba(0, 0, 0, .5);
}

div.image {
  width: 100%;
  height: auto;

  img {
    height: auto;
    width: 100%;
  }
}
