.nav{
  font-family: josefin-r, sans-serif;
  display: block;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 100%;
  height: 80px;
  position: fixed;
  font-size: .7rem;
  z-index: 100;
  img#logo {
    height: 65px;
    width: auto;
  }
  ul#outer {
    //  background-color: gray;
    display: block;
    width: 100%;
    height: inherit;
    line-height: 80px;
    text-decoration: none;
    text-align: center;
  }
  li.outer{
    //   background-color: yellow;
    display: inline-block;
    text-decoration: none;
    margin:0;
    height: inherit;
    width: 33%;
    vertical-align: middle;
  }
  li.outer.first, li.outer.third {
    width: 24%;
  }
  li.outer.second {
    width: 50%;
  }
  ul.inner{
    display: block;
    height: 80px;
    text-align: center;
  }
  li.inner{
    display: inline-block;
    text-decoration: none;
    height: inherit;
    width: auto;
    text-align: center;
    padding: 0 4%;
    border-color: #990016;
    border-width: 0;
  }
  li.inner:hover{
    border: solid;
    border-bottom-width: medium;
    border-top: 0;
    border-left:0;
    border-right: 0;
    border-bottom-color: $k_gold;
  }
  li.inner.no-underline:hover {
    border: 0;
  }
  li.inner a {
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
  }
  #contact-link {
    height: auto;
    padding: 16px 20px;
    background-color: $k_gold;
    border-radius: 50px;
    font-size: 1rem;
    font-family: josefin-b;
    transition: .6s background-color, .6s color;
    &::before {
      content: "";
      transition: .6s background;
      position:relative;
      display: inline-block;
      height: 1.2rem;
      width: 1.2rem;
      background: url(/assets/icons/contact-icon.png) no-repeat;
      background-size: contain;
      top: 5px;
    }
    &:hover {
      background-color: white;
      color: $k_gold;
      &::before {
        content: "";
        transition: .6s background;
        position:relative;
        display: inline-block;
        height: 1.2rem;
        width: 1.2rem;
        background: url(/assets/icons/contact-icon-gold.png) no-repeat;
        background-size: contain;
        top: 5px;
      }
    }
  }
    #menu-button{
      margin-top: 20px;
      position: absolute;
      height: 40px;
      left: auto;
      right: 30px;
      top: -500px;
    }

  @media screen and (max-width: 768-1px) {
    li.inner, li.outer.first, li.outer.second, li.outer.third{
      display: block;
      width: 100%;
      background-color: black;
      margin-top: 0px;
    }
    li.outer.second, li.outer.third {
      display: none;
    }
    li.outer.third{
      position: relative;
      top: 230px;
    }
    li.inner a {
      font-size: 18px;
    }
    li.outer.third.active, li.outer.second.active{
      display: block;
    }
    #menu-button{
      top: 0px;
    }
  }

}
