body#packages {
  section.packages {
    background-color: white; //linear-gradient(rgb(166, 96, 198), rgb(131, 149, 219));
    .container {
      div {
        div {
          h1 {
            font-family: josefin-sb;
            font-size: 4rem;
          }
          
        }
      }
    }
  }
}
